.bordered {
  border: 1px solid black;
}

.wrapper {
  height: 100vh;
  background: linear-gradient(#009688 0% 15%, #d5dbd8 15% 100%);
  padding: 25px 0;
}

.content-container {
  display: flex;
  height: 100%;
  width: 75%;
  margin: auto;
  border: 1px solid black;
}

.contacts-section {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 30%;
  border: 1px solid green;
  background-color: white;
}

.msg-section {
  height: 100%;
  width: 70%;
  border: 1px solid green;
}

.user-info {
  background-color: #eaeaea;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.avatar {
  border-radius: 50%;
}

.user-icons i {
  color: #b1b1b1;
  margin-right: 13px;
}

.active-notify {
  display: flex;
  align-items: center;
  background-color: #8edafc;
  padding-left: 10px;
  height: 60px;
}

.bell {
  width: 40px;
  height: 40px;

  border-radius: 50%;
  background-color: white;
  position: relative;
}

.fa-bell-slash {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  color: #8edafc;
}

.notify-text {
  font-size: 0.8rem;
}

.text-small {
  font-size: 0.7rem;
  margin: 0;
  color: gray;
  cursor: pointer;
}

.search-container {
  height: 40px;
  background-color: #fafafa;
}
.search {
  height: 75%;
  padding-top: 5px;
  border: 1px solid #fafafa;
  background-color: white;
}

.search-btn {
  width: 10%;
  background-color: white;
  border: 0;
}

.bar {
  width: 90%;
  border: 0;
}

.contacts-container {
  overflow: scroll;
}

.contact {
  background-color: white;
  height: 70px;
  padding-top: 8px;
  border-bottom: 1px solid #d5dbd8;
}

.contact-avatar {
  width: 65px;
  margin-left: 15px;
}
