.wrapper {
  height: 100vh;
  background: linear-gradient(#009688 0% 15%, #d5dbd8 15% 100%);
  padding: 25px 0;
}

.content-container {
  display: flex;
  height: 100%;
  width: 75%;
  margin: auto;
}

.contacts-section {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 30%;
  background-color: white;
}

.msg-section {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70%;
}

.user-info {
  background-color: #eaeaea;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.avatar {
  border-radius: 50%;
}

.user-icons i {
  color: #b1b1b1;
  margin-right: 13px;
  cursor: pointer;
}

.active-notify {
  display: flex;
  align-items: center;
  background-color: #8edafc;
  padding-left: 10px;
  height: 75px;
}

.bell {
  width: 40px;
  height: 40px;

  border-radius: 50%;
  background-color: white;
  position: relative;
}

.fa-bell-slash {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  color: #8edafc;
}

.notify-text {
  font-size: 0.8rem;
}

.active-notify .text-small {
  cursor: pointer;
}

.text-small {
  font-size: 0.7rem;
  margin: 0;
  color: gray;
}

.search-container {
  height: 40px;
  background-color: #fafafa;
}
.search {
  height: 75%;
  padding-top: 5px;
  border: 1px solid #fafafa;
  background-color: white;
}

.search-btn {
  width: 10%;
  background-color: white;
  border: 0;
}

.bar {
  width: 90%;
  border: 0;
}

.contacts-container {
  overflow: scroll;
}

.contact {
  display: flex;
  background-color: white;
  height: 70px;
  padding-top: 8px;
  border-bottom: 1px solid #d5dbd8;
}

.contact-avatar {
  width: 65px;
  margin-left: 15px;
}

.contact-status {
  width: 88%;
}

.msg-section .user-info {
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  height: 52px;
}

.msg-section .user-icons {
  width: 12%;
  cursor: pointer;
}

.msg-container {
  height: calc(100vh - 112px);
  background-image: url("../img/mine.jpg");
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.text-section {
  height: 60px;
  background-color: #eaeaea;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-section i {
  width: 10%;
  text-align: center;
  cursor: pointer;
  color: gray;
}

.text-bar {
  width: 80%;
  padding-top: 10px;
  height: 45px;
}

.msg {
  width: 250px;
  min-height: 50px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 12px;
}

.msg-sent {
  background-color: #d5f9ba;
  align-self: flex-end;
}

.msg-received {
  background-color: #ffffff;
}

.active {
  background-color: #e9ebeb;
}
